
<a [routerLink]="['new/Question']">Add a Question</a>

<div>
    <br>
    <label>Search:</label>
    <input [(ngModel)]="searchText">
</div><br>

<table>
    <tr>
        <th>Question</th>
        <th>Answers</th>
        <th>Action</th>
    </tr>
    
    <tr *ngFor="let question of questions | filter : searchText">
        <td>{{question.question}}</td>
        <td>{{question._answer.length}}</td>
        <td><a href [routerLink]="['/dashboard/question', question._id]">Show</a>  <a href [routerLink]="['/dashboard/new/Answer', question._id]">Answer</a></td>
    </tr>

</table>