<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1> Mongoose</h1>
    name:
    <h3>
        <%=mongoose.name%>
    </h3>
    age:
    <h3>
        <%=mongoose.age%>
    </h3>

</body>

</html>