<a [routerLink]="['/dashboard']">Home</a> |
<a [routerLink]="['/dashboard/new/Answer', question._id]">Answer this Question</a>


<h2>{{question.question}}</h2>
<p>{{question.description}}</p>
<hr>

  <div class="card" *ngFor="let answer of answers">
    <div class="answer">
        <small class="name">{{ answer._user.first_name }}:</small><br>
        <h4>{{answer.answer}}</h4>
        <p><small>{{ answer.detail }}</small> </p>
    </div>
    <div class="like">
      <p>{{ answer.likes }} likes <button (click)='likeAnswer(answer._id)'>Like!</button></p>
      
    </div>
    
  </div>
